@page "/DbContext/{DbContext}/DbSet/{DbSet}/Create"
@using CoreBlazor.Components
@using CoreBlazor.Configuration
@using Microsoft.AspNetCore.Components.Authorization
@inject IEnumerable<DiscoveredContext> DiscoveredContexts

<AuthorizeView Policy="@($"{DbContext}/{DbSet}/{Identifiers.Create}")">
    <Authorized>
        <DynamicComponent Type="@ComponentType" Parameters="@Parameters"/>
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to view this page.</h3>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string DbContext { get; set; }
    [Parameter]
    public string DbSet { get; set; }
    public Type ComponentType { get; set; }
    public IDictionary<string, object> Parameters { get; set; } = new Dictionary<string, object>();

    protected override void OnParametersSet()
    {
        var discoveredContext = DiscoveredContexts.Single(x => x.ContextType.Name == DbContext);
        var discoveredSet = discoveredContext.Sets.Single(x => x.EntityType.Name == DbSet);
        ComponentType = typeof(EntityCreationComponent<,>).MakeGenericType(discoveredContext.ContextType, discoveredSet.EntityType);
        Parameters = new Dictionary<string, object> { };
    }

}