@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.DependencyInjection
@typeparam TContext where TContext : Microsoft.EntityFrameworkCore.DbContext
@inject IServiceProvider ServiceProvider
<table class="table table-hover table-bordered table-striped">
    <tbody>
        <tr>
            <th>
                @nameof(ContextName)
            </th>
            <td>
                @ContextName
            </td>
        </tr>
        @if (!string.IsNullOrEmpty(Provider))
        {
            <tr>
                <th>
                    @nameof(Provider)
                </th>
                <td>
                    @Provider
                </td>
            </tr>
        }
        @if (!string.IsNullOrEmpty(DataBase))
        {
            <tr>
                <th>
                    @nameof(DataBase)
                </th>
                <td>
                    @DataBase
                </td>
            </tr>
        }
        @if (!string.IsNullOrEmpty(Source))
        {
            <tr>
                <th>
                    @nameof(Source)
                </th>
                <td>
                    @Source
                </td>
            </tr>
        }
    </tbody>
</table>
@code {

    public string ContextName { get; set; }
    public string? Provider { get; set; }
    public string? DataBase { get; set; }
    public string? Source { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var context = ServiceProvider.GetRequiredService<TContext>();
        ContextName = context.GetType().Name;
        Provider = context.Database.ProviderName;
        if (context.Database.IsRelational())
        {
            await using var connection = context.Database.GetDbConnection();
            DataBase = connection.Database;
            Source = connection.DataSource;
        }
    }

}