@using System.Linq.Expressions
@using System.Reflection
@using CoreBlazor.Authorization
@using CoreBlazor.Configuration
@using CoreBlazor.Interfaces
@using CoreBlazor.Utils
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.DependencyInjection
@typeparam TContext where TContext : Microsoft.EntityFrameworkCore.DbContext
@typeparam TEntity where TEntity : class
@inject IDbContextFactory<TContext> ContextFactory;
@inject NavigationManager NavigationManager;
@inject IServiceProvider ServiceProvider;
@inject INavigationPathProvider NavigationPathProvider; 
@inject INotAuthorizedComponentTypeProvider NotAuthorizedComponentTypeProvider;
<AuthorizeView Policy="@(Policies<TContext,TEntity>.CanRead)" Context="CanReadContext">
    <Authorized Context="CanReadContext">
        <AuthorizeView Policy="@(Policies<TContext, TEntity>.CanCreate)">
            <Authorized>
                <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="@NavigationPathProvider.GetPathToCreateEntity(typeof(TContext).Name, typeof(TEntity).Name)">
                    Add New Entity
                </Button>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@(Policies<TContext, TEntity>.CanEdit)" Context="AuthorizeContext">
            <Authorized Context="AuthorizeContext">
                <DbSetGridComponent TContext="TContext" TEntity="TEntity" AllowRowClick="true" />
            </Authorized>
            <NotAuthorized>
                <DbSetGridComponent TContext="TContext" TEntity="TEntity" AllowRowClick="false" />
            </NotAuthorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized Context="CanReadContext">
        <DynamicComponent Type="NotAuthorizedComponentTypeProvider.GetNotAuthorizedComponentType<TContext,TEntity>()"/>
    </NotAuthorized>
</AuthorizeView>

@code {
    public CoreBlazorDbSetOptions<TContext,TEntity>? DbSetOptions { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        DbSetOptions = ServiceProvider.GetService<CoreBlazorDbSetOptions<TContext, TEntity>>();
        await base.OnParametersSetAsync();
    }
}
