@using CoreBlazor.Utils
@using Microsoft.Extensions.DependencyInjection
@using System.Linq.Expressions
@typeparam TContext where TContext : Microsoft.EntityFrameworkCore.DbContext
@typeparam TEntity where TEntity : class
@inject IServiceProvider ServiceProvider
@inject NavigationManager NavigationManager
<DbContextInfoComponent TContext="TContext" />
<EditForm Model="Entity" OnSubmit="OnSaveChanges">
    <PropertyEditorComponent TContext="TContext" TEntity="TEntity" Entity="Entity" IsDisabled="true" />
    <Button Color="ButtonColor.Danger" Type="ButtonType.Submit" Class="m-1">
        <Icon Name="IconName.ExclamationDiamondFill"/>
        Confirm deletion
    </Button>
    <Button Color="ButtonColor.Link" Type="ButtonType.Link" To="@($"/DbContext/{typeof(TContext).Name}/DbSet/{typeof(TEntity).Name}/Edit/{EntityId}")" Class="m-1">Go back</Button>
</EditForm>
@code {
    [Parameter]
    public string EntityId { get; set; }

    public TEntity Entity { get; set; }

    protected override void OnParametersSet()
    {
        var context = ServiceProvider.GetRequiredService<TContext>();
        var set = context.DbSetWithDisplayableNavigations<TEntity>();
        var primarykey = context.Model.FindEntityType(typeof(TEntity))!.FindPrimaryKey().Properties.Single().PropertyInfo;
        ParameterExpression parameterExpression = Expression.Parameter(typeof(TEntity));
        var property = Expression.Property(parameterExpression, primarykey.Name);
        var filter = ExpressionExtensions.GetExpressionDelegate<TEntity>(parameterExpression, new FilterItem(primarykey.Name, EntityId, FilterOperator.Equals, default));
        Entity = set.Single(filter);
        base.OnParametersSet();
    }
    private async Task OnSaveChanges(EditContext args)
    {
        var context = ServiceProvider.GetRequiredService<TContext>();
        foreach (var navigation in context.GetNavigations<TEntity>())
        {
            context.Attach(navigation.PropertyInfo.GetValue(Entity));
        }
        context.Remove(Entity);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo($"/DbContext/{typeof(TContext).Name}/DbSet/{typeof(TEntity).Name}");
    }
}