@using CoreBlazor.Utils
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.DependencyInjection
@using System.Linq.Expressions
@typeparam TContext where TContext : DbContext
@typeparam TEntity where TEntity : class, new()
@inject IDbContextFactory<TContext> ContextFactory
@inject NavigationManager NavigationManager
<EditForm Model="Entity" OnValidSubmit="OnSaveChanges" @ref="@CreateForm">
    <DataAnnotationsValidator />
    <PropertyEditorComponent TContext="TContext" TEntity="TEntity" Entity="@Entity" />
    <Button Color="ButtonColor.Primary" Type="ButtonType.Submit" Class="m-1">Create</Button>
    <Button Color="ButtonColor.Link" Type="ButtonType.Link" To="@($"/DbContext/{typeof(TContext).Name}/DbSet/{typeof(TEntity).Name}")" Class="m-1">Go back</Button>
</EditForm>
@code {
    [Parameter]
    public string EntityId { get; set; }

    public TEntity Entity { get; set; }

    public EditForm CreateForm { get; set; }

    protected override void OnParametersSet()
    {
        Entity = new();
        base.OnParametersSet();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        CreateForm.EditContext?.Validate();
        base.OnAfterRender(firstRender);
    }

    private async Task OnSaveChanges(EditContext args)
    {
        await using var context = await ContextFactory.CreateDbContextAsync();
        foreach (var navigation in context.GetNavigations<TEntity>())
        {
            context.Attach(navigation.PropertyInfo.GetValue(Entity));
        }
        await context.AddAsync(Entity);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo($"/DbContext/{typeof(TContext).Name}/DbSet/{typeof(TEntity).Name}");
    }
}