@using CoreBlazor.Utils
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.DependencyInjection
@using System.Linq.Expressions
@typeparam TContext where TContext : DbContext
@typeparam TEntity where TEntity : class
@implements IAsyncDisposable
@inject IDbContextFactory<TContext> ContextFactory
@inject NavigationManager NavigationManager
<DbContextInfoComponent TContext="TContext" />
<EditForm Model="Entity" OnSubmit="OnSaveChanges">
    <PropertyEditorComponent TContext="TContext" TEntity="TEntity" Entity="Entity" IsDisabled="true" />
    <Button Color="ButtonColor.Danger" Type="ButtonType.Submit" Class="m-1">
        <Icon Name="IconName.ExclamationDiamondFill"/>
        Confirm deletion
    </Button>
    <Button Color="ButtonColor.Link" Type="ButtonType.Link" To="@($"/DbContext/{typeof(TContext).Name}/DbSet/{typeof(TEntity).Name}/Edit/{EntityId}")" Class="m-1">Go back</Button>
</EditForm>
@code {
    private TContext _context;

    [Parameter]
    public string EntityId { get; set; }

    public TEntity Entity { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _context = await ContextFactory.CreateDbContextAsync();
        var set = _context.DbSetWithDisplayableNavigations<TEntity>();
        var primarykey = _context.Model.FindEntityType(typeof(TEntity))!.FindPrimaryKey().Properties.Single().PropertyInfo;
        ParameterExpression parameterExpression = Expression.Parameter(typeof(TEntity));
        var property = Expression.Property(parameterExpression, primarykey.Name);
        var filter = ExpressionExtensions.GetExpressionDelegate<TEntity>(parameterExpression, new FilterItem(primarykey.Name, EntityId, FilterOperator.Equals, default));
        Entity = await set.SingleAsync(filter);
        await base.OnParametersSetAsync();
    }

    public async ValueTask DisposeAsync()
        => await _context.DisposeAsync();

    private async Task OnSaveChanges(EditContext args)
    {
        foreach (var navigation in _context.GetNavigations<TEntity>())
        {
            _context.Attach(navigation.PropertyInfo.GetValue(Entity));
        }
        _context.Remove(Entity);
        await _context.SaveChangesAsync();
        NavigationManager.NavigateTo($"/DbContext/{typeof(TContext).Name}/DbSet/{typeof(TEntity).Name}");
    }
}